parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  ignoreErrors:
    -
      message: '#Method OCA\\Files_Primary_S3\\Panels\\Admin::getPanel\(\) should return OCP\\AppFramework\\Http\\TemplateResponse|OCP\\Template but returns null.#'
      path: lib/Panels/Admin.php
      count: 1
    -
      message: '#Comparison operation ">=" between 7 and 7 is always true.#'
      path: lib/s3storage.php
      count: 1
    -
      message: '#Call to an undefined method GuzzleHttp\\Client::getEmitter\(\).#'
      path: lib/s3storage.php
      count: 1
    -
      message: '#Instantiated class GuzzleHttp\\Ring\\Client\\StreamHandler not found.#'
      path: lib/s3storage.php
      count: 1
    -
      message: '#Instantiated class GuzzleHttp\\Ring\\Client\\CurlMultiHandler not found.#'
      path: lib/s3storage.php
      count: 1
    -
      message: '#Parameter \$event of anonymous function has invalid type GuzzleHttp\\Event\\BeforeEvent.#'
      path: lib/s3storage.php
      count: 1
    -
      message: '#Call to method getRequest\(\) on an unknown class GuzzleHttp\\Event\\BeforeEvent.#'
      path: lib/s3storage.php
      count: 1
